<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            margin: 2px;
            background-image: url("https://stepoutoftherace.com/wp-content/uploads/2018/06/LaptopCoaching.png");
            background-size: cover;
            font-family: 'Open Sans', sans-serif;
        }
        h1 {
            color: #fff;
            text-align: center;
            margin-top: 50px;
            font-size: 48px;
        }
        .menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: blueviolet;
            padding: 10px;
            margin-top: 50px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        .menu a{
            font-size: 15px;
            font-weight: bolder;
            color: white;
            text-decoration: none;
            transition: all 0.3s ease;
        }
        .menu a:hover {
            transform: scale(1.2);
            
        }

         .menu a:hover::before {
        content: attr(data-tooltip);
        background-color: rgba(244, 236, 236, 0.906);
        color: black;
        padding: 5px;
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        font-size: 12px;
        opacity: 0;
        transition: opacity 0.2s ease;
        z-index: 1;
         white-space: nowrap;
    }
    .menu a:hover::before {
        opacity: 1;
    }
    </style>
</head>
<body>
    <h1>Winner Design Sln....</h1>
   <div class="menu">
    <a href="/add" data-tooltip="Adding new student data ">ADD STUDENT</a>
    <a href="/search" data-tooltip="Search for a student using phone number">SEARCH STUDENT</a>
    <a href="/update" data-tooltip="Update a student's data using phone number">UPDATE STUDENT</a>
    <a href="/delete" data-tooltip="Delete a student's data using phone number">DELETE STUDENT</a>
    <a href="/view" data-tooltip="View a list of all students">VIEW STUDENT</a>
</div>

</body>
</html>
